@import "tailwindcss";

.container {
    position: relative;
    width: 100%;
    max-width: 700px;
    height: 600px;
    overflow: hidden;
}

.container img {
    position: absolute; /* stack on top of each other */
    width: 1%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 1s ease-in-out;
    cursor: pointer;
    z-index: 1;
}

.container img.hovered {
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 20px;
}
